PORT=8000
MONGO_URL=mongodb://localhost:27017/tu_base
MONGO_ATLAS_URL=
SECRET_SESSION=tu_secreto
MONGO_TARGET=LOCAL
JWT_SECRET=tu_jwt_secreto
NODE_ENV=development
BASE_URL=http://localhost:8000

GITHUB_CLIENT_ID=
GITHUB_CLIENT_SECRET=
GITHUB_CALLBACK_URL=http://localhost:8000/api/auth/github/callback

TWILIO_ACCOUNT_SID=
TWILIO_AUTH_TOKEN=
TWILIO_FROM_SMS=
TWILIO_FROM_WAPP=

SMTP_HOST=smtp.gmail.com
SMTP_PORT=587
SMTP_SECURE=false
SMTP_USER=
SMTP_PASS=
SMTP_FROM=